extends ../layout

block content 
    div.col-sm-3
    div.col-sm-6.top-buffer
        div(class='panel panel-primary')
            div.panel-heading 
                h3.panel-title Edit your profile, #{title}
            div.panel-body
                form(action='/user/edit',method='post')
                    This is the Users Name: #{user.person_id} 
                    .col-sm-10
                    .form-group
                    label.col-sm-2.control-label(for="email") Password
                    .col-sm-10
                    input#email.form-control(type="username", placeholder=user.password, name="username") 
                    .form-group
                    label.col-sm-2.control-label(for="email") Firstname
                    .col-sm-10
                    input#email.form-control(type="username", placeholder=person.first_name, name="username") 
                    .form-group
                    label.col-sm-2.control-label(for="email") Lastname
                    .col-sm-10
                    input#email.form-control(type="username", placeholder=person.last_name, name="username")     
                    .form-group
                    label.col-sm-2.control-label(for="email") Address
                    .col-sm-10
                    input#email.form-control(type="username", placeholder=person.address, name="username")          
                    .form-group
                    label.col-sm-2.control-label(for="email") Email
                    .col-sm-10
                    input#email.form-control(type="username", placeholder=person.email, name="username") 
                    .form-group
                    label.col-sm-2.control-label(for="email") Phone
                    .col-sm-10
                    input#email.form-control(type="username", placeholder=person.phone, name="username") 
                    .form-group
                    .col-sm-offset-2.col-sm-10
                    button.btn.btn-primary(type='submit') Save
