extends ../layout


block content 
    -function prettyDate(date){
    -var d = date.getDate();
    -var m = date.getMonth();
    -var y = date.getFullYear();
    -return y+'-'+m+'-'+d;
    -} 

        div
            div.col-md-3
            div.col-md-6.top-buffer
                    h1 Welcome to Search
                    div(class='panel panel-primary')
                        div.panel-heading 
                            h3.panel-title Search
                        div.panel-body
                            form(action='/search',name="report",method='post',enctype="multipart/form-data",id="form-report")
                                .form-group 
                                    label.col-sm-8.control-label(for="") Greater Than Date
                                    .col-sm-10
                                    input#datetimepicker1.form-control(name='startdate',data-date-format="YYYY-MM-DD")
                                .form-group 
                                    label.col-sm-8.control-label(for="") Less Than Date
                                    .col-sm-10
                                    input#datetimepicker2.form-control(name='enddate',data-date-format="YYYY-MM-DD")
                                .form-group
                                    label.col-sm-8.control-label(for="") Sort Using
                                    .col-sm-10
                                    select.form-control.input-sm(name="sort")
                                        option(value="default") Default
                                        option(value="ascending") Date Ascending
                                        option(value="descending") Date Descending
                                .form-group
                                    label.col-sm-8.control-label(for="") Keywords (Spaces between keys)
                                    .col-sm-10
                                    input.form-control(type="text", placeholder="", name="keys")
                                .form-group
                                    .col-sm-offset-2.col-sm-10
                                    button.btn.btn-primary(type='submit') Get reports
        div
          -if(records)
            div.col-md-12
                div(class='panel panel-primary')
                    div.panel-heading 
                        h3.panel-title Results
                    div.panel-body
                        div.table-responsive
                          table(class='table')
                            thead                             
                                    tr 
                                        th Patient ID
                                        th Doctor ID
                                        th Radiologist ID 
                                        th Test Type
                                        th Prescribing Date
                                        th Test Date
                                        th Diagnosis
                                        th Description

                            tbody
                                   each record, i in records                        
                                    tr.form-group  
                                        td #{record.patient_id} RECORD ID #{record.record_id}
                                        td #{record.doctor_id}
                                        td #{record.radiologist_id}
                                        td #{record.test_type}
                                        td #{prettyDate(record.prescribing_date)}
                                        td #{prettyDate(record.test_date)}
                                        td #{record.diagnosis}
                                        td #{record.description}
                                        
                                    tr
                                        td(colspan="8")
                                            for image, i in record.images
                                                -if(i%4 == 0)
                                                    div.row
                                                     div.col-sm-4
                                                        img(src="/img/"+image.record_id+"/"+image.image_id+"/"+"thumbnail");
                                                        a(href="/view/img/"+image.record_id+"/"+image.image_id+"/"+"regular") Medium 
                                                        a(href="/view/img/"+image.record_id+"/"+image.image_id+"/"+"full") Full Size 

                                                -else 
                                                     div.col-sm-4
                                                        img(src="/img/"+image.record_id+"/"+image.image_id+"/"+"thumbnail");
                                                        a(href="/view/img/"+image.record_id+"/"+image.image_id+"/"+"regular") Medium 
                                                        a(href="/view/img/"+image.record_id+"/"+image.image_id+"/"+"full") Full Size 





