extends ../layout


block content 


        div
            div.col-md-3
            div.col-md-6.top-buffer
                    h1 Welcome to Search
                    div(class='panel panel-primary')
                        div.panel-heading 
                            h3.panel-title Search
                        div.panel-body
                            form(action='/search',name="report",method='post',enctype="multipart/form-data",id="form-report")
                                .form-group 
                                    label.col-sm-8.control-label(for="") Greater Than Date
                                    .col-sm-10
                                    input#datetimepicker1.form-control(name='startdate',data-date-format="YYYY-MM-DD")
                                .form-group 
                                    label.col-sm-8.control-label(for="") Less Than Date
                                    .col-sm-10
                                    input#datetimepicker2.form-control(name='enddate',data-date-format="YYYY-MM-DD")
                                .form-group
                                    label.col-sm-8.control-label(for="") Sort Using
                                    .col-sm-10
                                    select.form-control.input-sm(name="sort")
                                        option(value="default") Default
                                        option(value="ascending") Date Ascending
                                        option(value="descending") Date Descending
                                .form-group
                                    label.col-sm-8.control-label(for="") Keywords (Spaces between keys)
                                    .col-sm-10
                                    input.form-control(type="text", placeholder="", name="keys")
                                .form-group
                                    .col-sm-offset-2.col-sm-10
                                    button.btn.btn-primary(type='submit') Get reports
        div
          -if(records)
            div.col-md-12
                div(class='panel panel-primary')
                    div.panel-heading 
                        h3.panel-title Results
                    div.panel-body
                        div.table-responsive
                          table(class='table')
                            thead                             
                                    tr 
                                        th Patient
                                        th Doctor
                                        th Radiologist
                                        th Test Type
                                        th Prescribing Date
                                        th Test Date
                                        th Diagnosis
                                        th Description

                            tbody
                                   each record, i in records                        
                                    tr.form-group 
                                        th #{record.patient.last_name}, #{record.patient.first_name}
                                        th #{record.doctor.last_name}, #{record.doctor.first_name}
                                        th #{record.radiologist.last_name}, #{record.radiologist.first_name}
                                        th #{record.test_type}
                                        th #{prettyDate(record.prescribing_date)}
                                        th #{prettyDate(record.test_date)}
                                        th #{record.diagnosis}
                                        th #{record.description}
                                        
                                    tr
                                            for image, i in record.images
                                                -if(i%4 == 0)
                                                    tr
                                                        td
                                                            img(src="/img/"+image.record_id+"/"+image.image_id+"/"+"thumbnail");
                                                        td
                                                            a(href="/view/img/"+image.record_id+"/"+image.image_id+"/"+"regular") Medium 
                                                        td(colspan="6")
                                                            a(href="/view/img/"+image.record_id+"/"+image.image_id+"/"+"full") Full Size 
                                                -else 
                                                    tr
                                                        td
                                                            img(src="/img/"+image.record_id+"/"+image.image_id+"/"+"thumbnail");
                                                        td
                                                            a(href="/view/img/"+image.record_id+"/"+image.image_id+"/"+"regular") Medium 
                                                        td(colspan="6")
                                                            a(href="/view/img/"+image.record_id+"/"+image.image_id+"/"+"full") Full Size 





