extends ../layout

block content 
    div(class='panel panel-primary top-buffer')
        div.panel-heading 
            h3.panel-title Add a new person           
        div.panel-body
                div.table-responsive 
                    table(class='table table-hover')
                        thead                             
                            tr 
                                th First Name
                                th Last Name
                                th Address
                                th Email
                                th Phone
                                th New

                        tbody
                            form(action='/admin/person/add',method='post')
                                tr.form-group  
                                    td 
                                        input.form-control.input-sm(type="text", placeholder='Firstname', name="firstname") 
                                    td 
                                        input.form-control.input-sm(type="text", placeholder='Lastname', name="lastname") 
                                    td 
                                        input.form-control.input-sm(type="text", placeholder='Address', name="address")
                                    td
                                        input.form-control.input-sm(type="text", placeholder='Email', name="email") 

                                    td 
                                        input.form-control.input-sm(type="text", placeholder='Phone', name="phone") 
                                    td(width="40")  
                                        button.btn.btn-success.btn-sm(type='submit') New


      each person, i in persons
        div(class='panel panel-primary top-buffer')
            div.panel-heading 
                h3.panel-title #{person.last_name},#{person.first_name}               
            div.panel-body
                div.table-responsive
                  table(class='table')
                    thead                             
                            tr 
                                th Id
                                th First Name
                                th Last Name
                                th Address
                                th Email
                                th Phone
                                th Save

                    tbody
                        form(action='/admin/person/update',method='post')
                            tr.form-group  
                                td #{person.person_id}
                                    input(type='hidden',value=person.person_id,name='personid')
                                td 
                                    input.form-control.input-sm(type="text", placeholder=person.first_name, name="firstname") 
                                td 
                                    input.form-control.input-sm(type="text", placeholder=person.last_name, name="lastname") 
                                td 
                                    input.form-control.input-sm(type="text", placeholder=person.address, name="address")
                                td
                                    input.form-control.input-sm(type="text", placeholder=person.email, name="email") 

                                td 
                                    input.form-control.input-sm(type="text", placeholder=person.phone, name="phone") 
                                td(width="40")  
                                    button.btn.btn-primary.btn-sm(type='submit') Save

                                
                 div.table-responsive
                      table(class='table table-striped')
                         thead

                            tr
                                th(width="180") Username
                                th Password
                                th(width='160')  Type
                                th(colspan="3") Date Registered
                                th Save
                                th(width='40') Remove
                         tbody
                           each user, i in person.users
                              tr.form-group
                                form(action='/admin/user/update',method='post')
                                    td #{user.user_name}
                                    td 
                                        input.form-control.input-sm(type="text", placeholder=user.password, name="password") 
                                    td 
                                        select.form-control.input-sm(name="class")
                                            - var options = [{value: 'a', label: 'Admin'}, {value: 'd', label: 'Doctor'}, {value: 'p', label: 'Patient'}, {value: 'r', label: 'Radiologist'}]
                                            each option in options
                                                option(value=option.value, selected=(user.class==option.value),disabled)= option.label 
                                    td(colspan="3") 
                                        input.form-control.input-sm(type="text", placeholder=user.date_registered, name="dateregistered") 
                                    td(width="40")
                                        input(type='hidden',value=user.user_name,name='username')
                                        button.btn.btn-primary.btn-sm(type='submit') Save

                                td   
                                    form(action='/admin/user/remove',method='post')
                                        input(type='hidden',value=user.user_name,name='username')
                                        -if(user.user_name != 'admin')
                                         button.btn.btn-danger.btn-sm.pull-right(type='submit') Remove
                                        -else 
                                         button.btn.btn-danger.btn-sm.pull-right(type='submit',disabled) Remove



                         form(action='/admin/user/add',method='post')
                            tr.form-group
                                td 
                                    input.form-control.input-sm(type="text", placeholder='username', name="username") 
                                td 
                                    input.form-control.input-sm(type="text", placeholder='password', name="password") 
                                td(colspan="3")
                                    select.form-control.input-sm(name="class",required) 
                                        option(value='') -- Select Type --
                                        - var options = [{value: 'a', label: 'Admin'}, {value: 'd', label: 'Doctor'}, {value: 'p', label: 'Patient'}, {value: 'r', label: 'Radiologist'}]
                                        each option in options
                                            option(value=option.value)= option.label 
                                        td.text-center 
                                            small Date will be filled automatically
                                td(width="40",colspan='2')  
                                    input(type='hidden',value=person.person_id,name='personid')
                                    button.btn.btn-success.btn-sm.pull-right(type='submit') New

                div.row
                    div.table-responsive.col-sm-4
                        table(class='table table-striped')
                         thead
        
                            tr
                                th Doctors
                                th Remove
                         tbody
                           each doctor, i in person.doctors
                            form(action='/admin/person/removedoc',method='post')
                              tr.form-group  
                                td #{doctor.last_name}, #{doctor.first_name}        
                                td 
                                    input(type='hidden', value=doctor.person_id,name="doctorid")
                                    input(type='hidden', value=person.person_id,name="personid")
                                    button.btn.btn-danger.btn-sm(type='submit') Remove Doctor
                div.row
                  form(action='/admin/person/adddoc',method='post')
                    div.col-sm-3
                        select.form-control.input-sm(name='doctorid')
                            each doctor, i in persons
                                - if(doctor.person_id != person.person_id)
                                         option(value=doctor.person_id) #{doctor.last_name}, #{doctor.first_name}
                    div.col-sm-2
                        input(type='hidden', value=person.person_id,name="personid")
                        button.btn.btn-success.btn-sm(type='submit') Add Doctor to Patient

